.dashboard {
    max-width: 1300px;
    margin: auto;
}
.dashboardMain {
    display: flex;
    margin: 20px auto;
    color: white;
}

.dashboardMap {
    height: 50vh;
    width: 100%;
    margin: 0 0 0 0;
}

.usersRequest {
    width: 450px;
    height: 85vh;
    margin: 0;
    background-color: rgb(29, 26, 26);
    border-radius: 10px;
    overflow-y: auto;
}
.usersRequest h2 {
    margin: auto;
    width: 90%;
}
.resultsBdd {
    height: 20vh;
    margin : 10px 0 20px 0;
    border: 1px solid white;
}
.dashboard .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
}
