.reportsBlock {
    width: 90%;
    min-height: 180px;
    background-color: rgb(209, 209, 209);
    margin: 15px auto;
    color: black;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.reportsBlock h3 {
    margin: 0 0 0 5px;
    width: 90%;
}
.reportsBlock p {
    margin: 0 0 0 5px;
    font-size: 0.9em;
}
.reportsBlock button {
    color: white;
    padding: 5px 15px;
}
.reportBody {
    word-wrap: break-word;
}

.buttonsUserReport {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
}
.confirmationButtons {
    display: flex;
    justify-content: space-around;
} 