header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
    color: white;
    background-color: #101010;
    border-radius: 0 0 10px 10px;
}

.baseHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header h1 {
    margin: 10px 0 0 20px;
}

header a {
    text-decoration: none;
    color: white;
}

header ul a:hover {
    text-decoration: underline;
    color: white;
}

header nav {
    margin: 0 25px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 350px;
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    padding: 0;
    font-size: 1.1em;
}

.addPlace {
    margin: 0 50px 10px 0;
    width: 95%;
    text-align: right;
}